:root {
    --light-green: hsl(75, 94%, 57%);
    --light-grey: hsl(0, 0%, 20%);
    --medium-grey: hsl(0, 0%, 12%);
    --dark-grey: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
}
body {
    background-color: var(--dark-grey);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.container {
    background-color: var(--medium-grey);
    padding: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}
header > h1 {
    font-weight: 500;
}
header > p {
    color: var(--light-green);
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.hobbies, .links, .dislike, .second-links, .test-links {
    list-style: none;
}
.hobbies > li > p, .dislike > li {
    text-align: left;
}
.links a, .second-links a  {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
}
.second-links {
    margin-top: 1rem;
}
.test-links > li {
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--light-grey);
}
.test-links > li:hover {
    background-color: var(--light-green);
}
.test-links > li > a:hover {
    color: var(--dark-grey);
}
.hobbies-container, .dislike-container {
    padding: 1rem;
}
.hobbies-container > p, .dislike-container > p {
    font-weight: 700;
    font-size: 1.5rem;
}

@media (min-width: 900px) {
    .container {
        margin: 5rem;
    }
    
}



/* contact page section */
.contact-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.back-button {
    margin: 1rem 0;
}
.contact-header {
    color: var(--light-green);
}
form {
    margin: 0.5rem 0;
    padding: 20px 15px;
    background-color: var(--medium-grey);
}
label {
    display: block;
}
.submit {
    display: block;
    background-color: var(--light-green);
    color: var(--white);
    padding: 8px;
    border-radius: 10px;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text], input[type=email] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
textarea {
  min-width: 100%;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
}

/*About Me Page*/
.main-content {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--white);
    color: black;
}
.bio-content {
    padding: 1rem 0;
}
.bio-content > h1 {
    color: var(--light-green);
}
.bio-content > span {
    font-weight: 400;
    font-size: 24px;
}
.bio-content > p{
    padding: 0.5rem 0;
}

.goals > p {
    border-radius: 1rem;
    margin: 0.5rem 0;
    background-color: skyblue;
    padding: 0.5rem;
}

.low-confidence {
    padding: 1rem 0;
}

.note {
    padding: 1rem 0;
}
.note-header {
    font-weight: 600;
    font-size: 1.5rem;
}